form(id='#new-form', action='/todos', method='post')
  .input-group
    // status checkbox
    span.input-group-addon
      input(name='status', type='checkbox')
    // input
    input.form-control.cursive(name='description', type='text', placeholder='Enter ToDo...', autofocus='', autocomplete='off')
    // save button
    span.input-group-btn
      button.btn.btn-success(type='submit') Save
.sync-indicator.progress
  .progress-bar.progress-bar-striped.active(style='width: 100%')
