#summaries
  .incomplete
    span.label.label-warning Incomplete:
    span.label.label-info 0
  .done
    span.label.label-success Complete:
    span.label.label-info 0
  .checkbox
    label
      input.toggle-all-done(type="checkbox")
      |  All done
  a.remove-done.label.label-warning(href="#") Remove done items
