doctype html
html
  head
    meta(charset='UTF-8')

    link(href="/favicon.ico?v=2", type="image/x-icon", rel="shortcut icon")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
    link(href='http://fonts.googleapis.com/css?family=Courgette', rel='stylesheet', type='text/css')
    link(href='style.css', rel='stylesheet')    

    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.2/handlebars.min.js')

    script(src='http://builds.emberjs.com/tags/v2.0.2/ember.min.js')
    script(src='http://builds.emberjs.com/tags/v2.0.2/ember-template-compiler.js')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/ember-data.js/2.0.1/ember-data.min.js')

    //- script(src='/socket.io/socket.io.js')

    script(src='client.js')

    title Ember

  body
    script(type="text/x-handlebars", data-template-name='application')
      .main.container-fluid
        .row
          |{{outlet}}

    script(type="text/x-handlebars", data-template-name='index')
      #app.panel.panel-info
        .panel-heading
          #summaries
            .incomplete
              span.label.label-warning Incomplete:
              span.label.label-info {{sumIncomplete}}
            .done
              span.label.label-success Complete:
              span.label.label-info {{sumComplete}}
            |{{#if sumIncomplete}}
            .checkbox
              label
                |{{input type='checkbox' checked=allDone class='toggle-all-done'}}
                |  All done
            |{{/if}}
            |{{#if sumComplete}}
            <a href="#" class="remove-done label label-warning" {{action "removeAllDone"}}>Remove done items</a>
            |{{/if}}

          form(id='new-form', action='/todos', method='post')
            .input-group
              // status checkbox
              span.input-group-addon
                |{{input type='checkbox' checked=isCompleted name='status'}}
              // input
              |{{input id='new-descr' name='description' type='text' value=newDescr
              |escape-press='cancelEdit'
              |placeholder='Enter ToDo...' autofocus='autofocus' autocomplete='off'
              |class="form-control cursive" }}
              // save button
              span.input-group-btn
                <button class="btn btn-success" type="submit" {{action "saveNew"}}>Save</button>
          .sync-indicator.progress
            .progress-bar.progress-bar-striped.active(style='width: 100%')

        ul#todos.list-group
          |{{#if model.length}}
          |{{#each sortedTodosDesc as |todo|}}
          |{{todo-line todo=todo tag='li' class='list-group-item'}}
          |{{/each}}
          |{{else}}
          li.list-group-item There is no Todo items.
          |{{/if}}

    script(type="text/x-handlebars", data-template-name='components/todo-line')
      .view
        span.badge.pull-left {{todo.id}}
        span.description.cursive(class='{{completeClass}}') {{todo.description}}
        <a href="#" class="btn btn-danger btn-sm pull-right" {{action "removeTodo"}}>
        span.glyphicon.glyphicon-remove
        </a>
        <a href="#" class="btn btn-success btn-sm pull-right" {{action "toggleDone"}}>
        span.glyphicon.glyphicon-ok
        </a>
      input.edit.form-control.cursive(value='{{todo.description}}', type='text', autocomplete='off')
      .progress
        .progress-bar.progress-bar-striped.active(style='width: 100%')
          | Syncing...
