<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>

  <title>Backbone</title>

  <style>
    .main {
      max-width: 500px;
    }
    .cursive {
      font-family: 'Courgette', cursive;
      text-shadow: 4px 4px 4px #aaa;
    }
    #todos .badge,
    .cursive {
      font-size: 22px;
    }
    .cursive:hover {
      text-decoration: none;
    }
    .complete {
      color: #bbb;
      text-decoration: line-through;
    }
  </style>
</head>
<body>

  <div class="main container-fluid">
    <div class="row">
      <div class="panel panel-info">
        <div class="panel-heading">
          <form id="#new-form" action="/todos" method="post">
            <div class="input-group">
              <!-- status checkbox -->
              <span class="input-group-addon">
                <input name="status" type="checkbox">
              </span>
              <!-- input -->
              <input name="description" type="text" class="form-control cursive" placeholder="Enter ToDo..." autofocus>
              <!-- save button -->
              <span class="input-group-btn">
                <button type="submit" class="btn btn-success">Save</button>
              </span>
            </div>
          </form>
        </div>

        <ul id="todos" class="list-group">Loading...</ul>
      </div>
    </div>
  </div>

  <script id="todo-item-template" type="text/x-uderscore-template">
  <div class="list-item">
    <span class="badge pull-left"><%= id %></span>&nbsp;&nbsp;
    <a href="#todos/<%= id %>/edit" class="cursive <% if (status === 'complete') print('complete') %>"><%- description %></a>
    <a href="#" data-del-id="<%= id %>" class="btn btn-danger btn-sm pull-right">
      <span class="glyphicon glyphicon-remove"></span>
    </a>
    <a href="#" data-done-id="<%= id %>" class="btn btn-success btn-sm pull-right">
      <span class="glyphicon glyphicon-ok"></span>
    </a>
  </div>
  </script>

  <script id="edit-form" type="text/x-uderscore-template">
  <form>
    <div class="input-group">
      <span class="input-group-addon">
        <input name="status" type="checkbox" <% if (status === 'complete') print('checked') %>>
      </span>
      <input name="description" value="<%- description %>" type="text" class="form-control cursive">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-success">Save</button>
      </span>
    </div>
  </form>
  </script>

  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.2/backbone-min.js"></script>

  <script src="client.js"></script>
</body>
</html>
